

body {
    padding-bottom: 4rem;
    background-image: linear-gradient(to left, #f0f6ff, #dddbf4);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 2rem;
    letter-spacing: 0.6px;
    background-color: #14171A;
    color: white;
  }

  .container {
      padding: 10px;
      background-color: #14171A;
      
  }
  
  em {
    font-weight: bold;
  }
  
  .image-container {
    overflow: hidden;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  h1 {
    padding: .75rem;
    background-color: #00acee;
    text-align: center;
    font-size: 2rem;
    font-stretch: condensed;
    line-height: 0.87;
    letter-spacing: 1.1px;
    color: #ffffff;
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: 0px 4px 15px rgba(103, 123, 216, 0.432);
    font-family: Arial, Helvetica, sans-serif
  }
  
  .user {
    padding: 1.5rem;
    font-size: .875rem;
  }
  
  .user-information {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .user-information .image-container {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 2rem;
  }
  
  .user-information h3 {
    font-size: 1.125rem;
    font-weight: bold;
  }
  
  .tweet {
    background-color: #ffffff;
    padding: 1.5rem;
    margin-bottom: 2px;
    font-size: .875rem;
    color: #14171A;
    border-radius: 20px;
    box-shadow: 0px 0px 4px inset black;
  }

  .tweet:hover{
      background-color: #e0ecf1;
      transition: .5s;
      box-shadow: 0px 0px 8px inset black;
    
  }
  
  .tweet h3 {
    font-weight: bold;
    color: #14171A;
  }
  
  .settings {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    font-size: .875rem;
  }
  
  .settings h2 {
    padding-bottom: 1.1875rem;
    font-weight: bold;
    line-height: 1.64;
    
  }
  
  .settings label {
    font-weight: bold;
    font-size: .75rem;
  }
  
  .settings input,
  .settings textarea,
  .settings button {
    padding: 1rem;
    border-radius: 20px;
   
  }
  
  .settings input::placeholder,
  .settings textarea::placeholder {
    color: #9b9b9b;
  }
  
  .settings input,
  .settings textarea {
    margin-bottom: .625rem;
  }
  
  .new-tweet {
    display: flex;
    color: #14171A;
  }
  
  .new-tweet input {
    flex-grow: 1;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  
  .new-tweet button {
    cursor: pointer;
    border-radius: 2px;
    background-color: #00acee;
    color: #ffffff;
    transition: .25s;
    border-radius: 20px;
  }
  
  .new-tweet button:hover {
    background-color: #14171A;
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 10px inset rgba(255, 255, 255, 0.301);
  }